.blogmain{
    font-family: 'Roboto Slab', serif;
}
.input_field{
    /* width: 20rem; */
    width: 80%;
    /* border-color: cadetblue !important; */
    border: none;
    border-bottom: 2px solid cadetblue;
    border-radius: 20px;
}
.input_field:focus {
    /* border: none !important; */
    outline: none;
    border-bottom: 2px solid cadetblue;
    border-radius: 20px;
}
.gp{
    font-size: 5rem;
    font-family: 'Luckiest Guy';
    color: #0dcaf0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 4px 0px 5px black;
  }
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }