{% extends 'rexeonapp/Navbar.html' %}
<!DOCTYPE html>
{%load static%} 
{% block css %}
<link rel="stylesheet" href="{%static "css/blog.css"%}"> 
 {%endblock%} 
 {% block child_block%}

 <div class="blogmain">
 <section>
    <h2 class="text-center offer mt-5">OUR BlOG</h2>
    <p class="text-center card-subtitle pb-4">Check Out Our Latest Blog Post</p>
    <div class="container">
        <div class="row">
            {% for blog in blog_list %}
            <div class="contain col-lg-4 col-md-6 col-sm-12 col-12">
                <img src="{{blog.image.url}}" alt="Avatar" class="image" width="100%">
                <p class="text-center blog-name">{{blog.title}}</p>
                <div class="middle">
                  <div class="text">
                      <h5 class="card-subtitle">{{blog.title}}</h5>
                      <p>BY- TEAM REXEON-SOLUTIONS</p>
                      <a class="btn btn-primary" href="{{blog.get_absolute_url}}" role="button">View Post</a>
                  </div>
                </div>
              </div>
              {%endfor%}
        </div>
        {% include 'rexeonapp/pagination.html' with page=page_obj%}
        </div>
      
 </section>

 <!-- 6207396702
 Naznee@786 -->

</div>

{%include 'rexeonapp/footer.html'%} 
{%endblock%}
