{% extends 'rexeonapp/Navbar.html' %}
<!DOCTYPE html>
{%load static%} {% block css %} <link rel="stylesheet" href="{%static "css/contact.css"%}"> {%endblock%} {% block child_block%}

<div class="contactmain">
    <h2 class="text-center fw-bold text-decoration-underline">Connect With Us</h2>
    <p class="text-center"> We would love to respond to your queries.
        Feel free to get in touch with us.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm m-2">
                <div class="d-flex">
                    <img
                      src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/4a90e2/external-message-design-thinking-flatart-icons-solid-flatarticons.png"
                    />
                    <div class="p-2">
                        <h2 class="text-info fw-bold">Get In Touch With Us</h2>
                        <p>
                            Leave your message and we'll get back to you shortly.
                        </p>
                    </div>
                    
                  </div>
             <!-- <h2 class="text-info fw-bold"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/4a90e2/external-message-design-thinking-flatart-icons-solid-flatarticons.png"/> Get In Touch with Us</h2>
             <p>Leave your message and we'll get back to you shortly.</p>
            </div> -->
            <div class="col-sm m-2">

            </div>
        </div>
    </div>
</div>

{%include 'rexeonapp/footer.html'%} {%endblock%}
