<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static "css/footer.css"%}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="jumbotron text-black jumbotron-footer">
      <div class="container">
        <div class="row p-3">
          <div class="col-sm">
            <h3 class="text-decoration-underline fw-bold">Synopsis</h3>
            <p>
              RSPL provides services which are customer focused. Our services
              are customized as per our customer’s requirements. Our efforts are
              focused on making our services efficient, value adding and
              affordable all at same place. “Our collaboration ensures your
              reputation”.
            </p>
          </div>
          <div class="col-sm">
              <h4 class="fw-bold text-decoration-underline">Social Media</h4>
              <a href=""><img src="https://img.icons8.com/windows/30/ffffff/twitter.png" class="p-2 icon"/></a>
              <a href=""><img src="https://img.icons8.com/ios-glyphs/30/ffffff/instagram-new.png" class="p-2 icon"/></a>
              <a href=""><img src="https://img.icons8.com/ios-glyphs/32/ffffff/facebook.png" class="p-2 icon"/></a>
              <a href=""><img src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png" class="p-2 icon"/></a>
              <h4 class="fw-bold text-decoration-underline">Contact Us</h4>
               <a href="">+91 9661480713</a> <br>
               <a href="mailto:rexeonspl@gmail.com">rexeonspl@gmail.com</a>
               <p>Shop No.209,City Centre Luby Circular Road
                Dhanbad(JH)Pin-826001</p>
          </div>

          <div class="col-sm">
            <h3 class="fw-bold text-decoration-underline">Quick Links</h3>
            <ul class="ul">
            <a href="/"> <li>Home</li></a> 
            <a href="/about"> <li>About</li></a> 
            <a href="/blog"> <li>Our Blog</li></a> 
             <a href="/services"> <li>Our Services</li></a>
             <a href="/career"> <li>Career</li></a>
              <a href="/contact"><li>Contact</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
